<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Bootstrap-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/4.10.0/firebase.js"></script>

    <script>
  // Initialize Firebase
    var config = {
        apiKey: "AIzaSyAle0qtETlQfp9uJZGHa896Zbh1lTQzRn4",
        authDomain: "lyricsform.firebaseapp.com",
        databaseURL: "https://lyricsform.firebaseio.com",
        projectId: "lyricsform",
        storageBucket: "lyricsform.appspot.com",
        messagingSenderId: "1093692190318"
    };
    firebase.initializeApp(config);

</script>
    <title>Lyrics</title>
</head>
<body>
    <div class="container">
    <h1>Lyrics App</h1>
    <hr>
    <button class="btn btn-primary" id="btnSignIn" onclick={signInWithFacebook()}>Sign in With Facebook</button>
    <button class="btn btn-primary" id="btnSignOut" onclick={signOut()}>Sign Out</button>
    <a class="btn btn-danger add-btn" onclick="addBtnClick()">Add Song</a>

    <h4 id="userTest"></h4>
</div>

    <script src="./firebaseAuth.js">
    
    </script>
   <style>
   .add-btn{
       color: #fff !important;
   }
   </style>
</body>
</html>